<hr>
<strong>Retrieve Redeem Code</strong>
<form method="post">
    <table width="100%" border="0" style="height:auto;">
        <tr>
            <td width="50%" align="right"><strong>Date :</strong></td>
            <td width="50%" align="left"><strong><input type=date name=datecode></strong></td>
        </tr>
        <tr>
            <td width="50%" align="right"><strong>Time :</strong></td>
            <td width="50%" align="left"><strong><input type=time name=timecode required="required"></strong></td>
        </tr>
        <tr>
            <td width="50%" align="right"><strong>Price in :</strong></td>
            <td width="50%" align="left"><strong>RM <input type=text size=3 name=price required="required">/-</strong></td>
        </tr>
        <tr>
            <td width="100%" colspan="2" align="center"><input type=submit class=button3 value="Redeem Now!"></td>
        </tr>
    </table>
</form>
<p>{LIST}</p>
