<h2>Newest Purchases</h2>
<div class="page2-box2 maxheight" style="height: 212px;"><div class="box_inner">
	<figure class="page2-img1"><img src="../../../images/page2-img1.jpg" alt=""></figure>
    <a class="link4" href="../../../b/files/index-1.html#">Laura Stegner</a>
   <span class="db">Ectetuer adipiscing elit, se.</span>
</div></div>
<div class="page2-box2 maxheight" style="height: 212px;"><div class="box_inner">
	<figure class="page2-img1"><img src="../../../images/page2-img2.jpg" alt=""></figure>
    <a class="link4" href="../../../b/files/index-1.html#">Marta Healy</a>
   <span class="db">Ectetuer adipiscing elit, se.</span>
</div></div>
<div class="page2-box2 last4 maxheight" style="height: 212px;"><div class="box_inner">
	<figure class="page2-img1"><img src="../../../images/page2-img3.jpg" alt=""></figure>
    <a class="link4" href="../../../b/files/index-1.html#">John Franklin</a>
   <span class="db">Ectetuer adipiscing elit, se.</span>
</div></div>
<div class="page2-box2 maxheight" style="height: 212px;"><div class="box_inner">
	<figure class="page2-img1"><img src="../../../images/page2-img4.jpg" alt=""></figure>
    <a class="link4" href="../../../b/files/index-1.html#">Julie Herzigova</a>
   <span class="db">Ectetuer adipiscing elit, se.</span>
</div></div>
<div class="page2-box2 maxheight" style="height: 212px;"><div class="box_inner">
	<figure class="page2-img1"><img src="../../../images/page2-img5.jpg" alt=""></figure>
    <a class="link4" href="../../../b/files/index-1.html#">Sam Kromstain</a>
   <span class="db">Ectetuer adipiscing elit, se.</span>
</div></div>
<div class="clear"></div>
<a class="button3" href="../../../b/files/index-1.html#">Find out more</a>