<!--==============================content================================-->

      <form id="form1" action="/?/Accounts/ResendValidate/{RAND}" method="POST">
        <center>
          <fieldset>
            <label class="name wrapper-after">
              <input name="uname" type="text" placeholder="User Name:">
              <span class="error" style="display: none;">*This is not a valid name.</span> <span class="empty" style="display: none;">*This field is required.</span> </label>
            <label class="name wrapper-after">
              <input name="umail" type="text" placeholder="Email:">
              <span class="error" style="display: none;">*This is not a valid name.</span> <span class="empty" style="display: none;">*This field is required.</span> </label>
          </fieldset>
          <div class="clear"></div>
          <button class="button3" data-type="submit" type="submit">Re-Send</button>
          <button class="button3 p27" data-type="reset" type="reset">Clear</button>
        </center>
      </form>
