<center>
    <a class="button3" href="/?/Accounts/TopupPoint/PayPal">Topup via PayPal Account</a>
    <a class="button3" href="/?/Accounts/TopupPoint/RedeemCode">Topup via Redeem Code</a>
    <a class="button3" href="/?/Accounts/TopupPoint/GetRedeemCode">Get Redeem Code</a>
</center>
        <HR>

<p>Howdy players! Players can purchase the Aerapoint Code via Direct Automated Transaction System or Online banking to:</p>
<ul>
    <li>Account number : 1610-3314-5191</li>
</ul>
<ul>
    <li> Account type : Maybank</li>
</ul>
<ul>
    <li>Account Name : Marhazli</li>
</ul>
<br/>
<br/>
<ul>
    <li>Account number : 1103-0000-6331-03</li>
</ul>
<ul>
    <li> Account type : CIMB</li>
</ul>
<ul>
    <li>Account Name : HazTech Global</li>
</ul>
<br/>
<br/>
<ul>
    <li>Account number : 1101-3025-7282-67</li>
</ul>
<ul>
    <li> Account type : Bank Islam</li>
</ul>
<ul>
    <li>Account Name : Marhazli</li>
</ul>
<br/>
<br/>
<ul>
    <li>Account number : 1310-0290-0063-3635</li>
</ul>
<ul>
    <li> Account type : Bank Nasional</li>
</ul>
<ul>
    <li>Account Name : Marhazli</li>
</ul>
<p>* Dont forget to send your receipt to sales@perfectworld.com.my. Below are the details of puchasing the Aerapoint</p>
<ul>
    <li><strong>RM 10 = 10 AeraPoint (AP)</strong><strong> </strong>per purchases</li>
</ul>
<ul>
    <li><strong>RM 30 = 30 AeraPoint (AP)</strong><strong> </strong>per purchases</li>
</ul>
<ul>
    <li><strong>RM 50 = 50 AeraPoint (AP)</strong><strong> </strong>per purchases</li>
</ul>
<ul>
    <li><strong>RM 100 = 100 AeraPoint (AP)</strong><strong> </strong>per purchases</li>
</ul>
<ul>
    <li><strong>RM 150 = 150 AeraPoint (AP)</strong><strong> </strong>per purchases</li>
</ul>
<ul>
    <li><strong>RM 200 = 200 AeraPoint (AP)</strong><strong> </strong>per purchases</li>
</ul>
        <HR>
<p>* IMPORTANT NOTE: Before you transfer, please make sure you keep the details of the transactions, like the receipts below:
<BR><img src="/images/donate01.jpg" width=100px><img src="/images/donate02.jpg"  width=100px>
</p>