                            <li class="{MENU0}"><a href="{UL01}">{NL01}</a></li>
                            <li class="sub-menu {MENU1}"><a href="{UL02}">{NL02}</a>
                            	<ul style="display: none;">
                                    <li class="sub-menu"><a href="{UL02/01}">{NL02/01}</a>
                                    	<ul style="display: none;">
                                            <li><a href="{UL02/03}">{NL02/03}</a></li>
                                            <li><a href="{UL02/04}">{NL02/04}</a></li>
                                            <li><a href="{UL02/05}">{NL02/05}</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a href="{UL02/02}">{NL02/02}</a>
                                    	<ul style="display: none;">
                                            <li><a href="{UL02/02/01}">{NL02/02/01}</a></li>
                                            <li><a href="{UL02/02/02}">{NL02/02/02}</a></li>
                                            <li><a href="{UL02/02/03}">{NL02/02/03}</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a href="{UL02/06}">{NL02/06}</a>
                                    	<ul style="display: none;">
                                            <li><a href="{UL02/06/01}">{NL02/06/01}</a></li>
                                            <li><a href="{UL02/06/02}">{NL02/06/02}</a></li>
                                            <li><a href="{UL02/06/03}">{NL02/06/03}</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a href="{UL02/07}">{NL02/07}</a>
                                    	<ul style="display: none;">
                                            <li><a href="{UL02/07/01}">{NL02/07/01}</a></li>
                                            <li><a href="{UL02/07/02}">{NL02/07/02}</a></li>
                                            <li><a href="{UL02/07/03}">{NL02/07/03}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="{MENU2}"><a href="{UL03}">{NL03}</a></li>
                            <li class="{MENU3}"><a href="{UL06}">{NL06}</a></li>
                            <li class="{MENU4}"><a href="{UL04}">{NL04}</a></li>
                            <li class="{MENU5}"><a href="{UL05}">{NL05}</a></li>