<div class="page2-box2 maxheight" style="height: 212px; width:600px;">
  <div class="box_inner" style=" width:600px;">
    <form name="form1" method=post action="/?/Mall/Search/{RAND}">
      <center>
      {MSG}
        <fieldset>
          <label class="name wrapper-after">
            <input name="search" type="text" size=50 required placeholder="Enter item name for search">
          </label>
          <BR /><BR />
          <button class="button3" name="option" value="1" type="submit">Search</button>
        </fieldset>
      </center>
    </form>
  </div>
</div>
