<hr />
<strong>Perfect World</strong>

<div class="clear"></div>
<strong>Claim Session</strong>
        <BR>
<a class="button3" href="http://pwi.perfectworld.com.my/?op=accounts&type=ClaimUCA" target="_blank">Claim UCA</a>
<a class="button3" href="http://pwi.perfectworld.com.my/?op=accounts&type=ClaimUAA" target="_blank">Claim UAA</a>
<a class="button3" href="http://pwi.perfectworld.com.my/?op=accounts&type=Reborn" target="_blank">Celestial Reborn</a>
<div class="clear"></div><hr>
<strong>Transfer Session</strong>
<BR>
<p><a class="button3" href="/?/Accounts/TransferAP/50AP">50 Aera to 500 AeraGold Topup</a></p>
<p><a class="button3" href="/?/Accounts/TransferAP/100AP">100 Aera to 1000 AeraGold Topup</a></p>
<p><a class="button3" href="/?/Accounts/TransferAP/150AP">150 Aera to 1500 AeraGold Topup</a></p>
<p><a class="button3" href="/?/Accounts/TransferAP/200AP">200 Aera to 2000 AeraGold Topup</a></p>
