<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html xmlns:fb="http://ogp.me/ns/fb#">
<title>Aera Gaming International 2014 - Accounts</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <meta name="description" content="A free fantasy mmorpg based on 3D Game. Official site featuring news, information, screen shots, downloads, player guide, and forums.">
    <meta name="keywords" content="aera, gaming, international, perfect, world, risk, your, life, registration, mmorpg, rpg, online, game, 3D, fantasy, screen, shot, download, patches, full, clients, servers, multiplayer, player, singleplayer, multi, single, pvp, pve, top, private, malaysia, sarawak, sea, south, east, asia">
    <meta name="author" content="Aera Gaming International">
<link rel="icon" href="../../../../images/favicon.ico" type="image/x-icon">    
	<link rel="shortcut icon" href="../../../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../css/style.css">
    <script src="../../../../images/jquery-1.7.1.min.js"></script><style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
    <script src="../../../../images/superfish.js"></script>
    <script src="../../../../images/jquery.hoverIntent.minified.js"></script>
    <script src="../../../../images/jquery.easing.1.3.js"></script>
    <script src="../../../../images/jquery.mobilemenu.js"></script>
    <script src="../../../../images/jquery.equalheights.js"></script>
    <script src="../../../../images/script.js"></script><meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->
</head>
<body>
<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '645920138772460', // App ID
      channelUrl : '//www.perfectworld.com.my/?/Accounts', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here

	  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
	  // for any authentication related change, such as login, logout or session refresh. This means that
	  // whenever someone who was previously logged out tries to log in again, the correct case below 
	  // will be handled. 
	  FB.getLoginStatus(function(response) {
	  if (response.status === 'connected') {
		// the user is logged in and has authenticated your
		// app, and response.authResponse supplies
		// the user's ID, a valid access token, a signed
		// request, and the time the access token 
		// and signed request each expire
		var uid = response.authResponse.userID;
		var accessToken = response.authResponse.accessToken;
		
      console.log('test1, ' + uid + '.');
      console.log('test2, ' + accessToken + '.');
      console.log('test3, ' + response.authResponse.expiresIn + '.');
      console.log('test4, ' + response.authResponse.signedRequest + '.');
	  } else if (response.status === 'not_authorized') {
		// the user is logged in to Facebook, 
		// but has not authenticated your app
		
	      console.log('NOT AUTH.');
	  } else {
		// the user isn't logged in to Facebook.
	      console.log('NOT LOGIN BOTH.');
	  }
	 });
	  FB.Event.subscribe('auth.authResponseChange', function(response) {
		// Here we specify what we do with the response anytime this event occurs. 
		if (response.status === 'connected') {
		  // The response object is returned with a status field that lets the app know the current
		  // login status of the person. In this case, we're handling the situation where they 
		  // have logged in to the app.
		  testAPI();
		} else if (response.status === 'not_authorized') {
		  // In this case, the person is logged into Facebook, but not into the app, so we call
		  // FB.login() to prompt them to do so. 
		  // In real-life usage, you wouldn't want to immediately prompt someone to login 
		  // like this, for two reasons:
		  // (1) JavaScript created popup windows are blocked by most browsers unless they 
		  // result from direct interaction from people using the app (such as a mouse click)
		  // (2) it is a bad experience to be continually prompted to login upon page load.
		  FB.login();
		} else {
		  // In this case, the person is not logged into Facebook, so we call the login() 
		  // function to prompt them to do so. Note that at this stage there is no indication
		  // of whether they are logged into the app. If they aren't then they'll see the Login
		  // dialog right after they log in to Facebook. 
		  // The same caveats as above apply to the FB.login() call here.
		  FB.login();
		}
	  });

  };

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
   
   // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good to see you, ' + response.name + '.');
    });
  }
  function fbLogout() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good bye, ' + response.name + '.');
	  FB.logout();
    });
  }
  
</script>
<!--==============================header=================================-->
    <header>
    	<div class="light1">
           <div class="light2 last2">           
               <div class="head-box1">
               <div class="container_12">
                    <article class="grid_12">
                    <div class="inner-block">
                    <h1><a class="logo" href="{ULHEADER}">{NLHEADER}</a></h1>
                    <nav>
                        <ul class="sf-menu responsive-menu sf-js-enabled">
                        {HEADERBAR}
                        </ul>
                    </nav>
                    <div class="clear"></div>
                    </div>
                    </article>
                </div>
                </div>                
            </div>
        </div>
    </header>
    