    <section id="content">
            <div class="container_12">
                <div class="wrapper">
                    <article class="grid_4">
                        <div class="inner-block">
                            <ul class="list2">
                                <li><strong>Welcome, {NAME}.</strong></li>
                                <li><strong>You have {BALANCE} AP left.</strong></li>
                                <li><a href="/?/Accounts">User Panel</a></li>
                                <li><a href="/?/Accounts/RegisterGame">Register Game <img src="/?/System/Image/tera"></a></li>
                                <li><a href="/?/Accounts/ChangePassword">Change Password</a></li>
                                <li><a href="/?/Accounts/GameHistory">Game History</a></li>
                                <li><a href="/?/Accounts/ClaimRewards">Claim & Transfer</a></li>
                                <li><a href="/?/Accounts/TopupPoint">AeraPoint Section</a></li>
                                <li><a href="/?/Mall/PurchaseHistory">Purchase History</a></li>
                                <li><a href="/?/Accounts/TopPlayers">Top Players</a></li>
                                <li><a href="/?/Accounts/Logout">Logout</a></li>
                                <li><strong></strong></li>
                                <li><strong>PW Session</strong></li>
                                <li><a href="/?/Accounts/PW/ScoreBoards">Score Boards</a></li>
                                {GMLINKS}
                            </ul>
                        </div>
                    </article>
                    <article class="grid_8">
                    	<div class="inner-block">
                            <h2>{TITLE}</h2>
                            
		                    {CONTENT}
                    	</div>
                    </article>
                </div>
            </div>
    </section>
