<table width=100% border=0>
<tr>
<td colspan=3><strong>ACCOUNT DETAILS</strong></td>
</tr>
<tr>
<td width=33%>User ID (Promoter ID)</td>
<td width=4%>:</td>
<td width=63%>{AID}</td>
</tr>
<tr>
<td width=33%>User Name</td>
<td width=4%>:</td>
<td width=63%>{NAME}</td>
</tr>
<tr>
<td width=33%>Full Name</td>
<td width=4%>:</td>
<td width=63%>{FNAME} {LNAME}</td>
</tr>
<tr>
<td width=33%>Last Registered</td>
<td width=4%>:</td>
<td width=63%>{CREATIME}</td>
</tr>
<tr>
<td colspan=3>&nbsp</td>
</tr>
<tr>
<td width=33%>Validation Email</td>
<td width=4%>:</td>
<td width=63%>{AEMAIL}</td>
</tr>
<tr>
<td width=33%>Validation Status</td>
<td width=4%>:</td>
<td width=63%>{ASTATUS}</td>
</tr>
<tr>
<td colspan=3>&nbsp</td>
</tr>
<tr>
<td colspan=3><strong>AERAPOINT HISTORY</strong></td>
</tr>
<tr>
<td width=33%>Balance</td>
<td width=4%>:</td>
<td width=63%>{BALANCE} AeraPoint</td>
</tr>
<tr>
<td width=33%>Used</td>
<td width=4%>:</td>
<td width=63%>{TOTALUSED} AeraPoint</td>
</tr>
<tr>
<td width=33%>Last Used</td>
<td width=4%>:</td>
<td width=63%>{TDATEUSED}</td>
</tr>
<tr>
<td width=33%>Total</td>
<td width=4%>:</td>
<td width=63%>{TOTAL} AeraPoint</td>
</tr>
</table>