<!--==============================content================================-->

<section id="content">
  <div class="container_12">
    <div class="wrapper p17">
      <form id="form1" action="/?/Accounts/ChangePassword/{CREATEKEY}" method="POST">
        <center>
          <h2>Account Registration</h2>
          <div class="success_txt">{MSG}</strong></div>
          <fieldset>
            
            
            <strong>Current Passwords</strong>
            <label class="password"><input name="passwd" maxlength="14" min="6" minlength="6" type="password" required></label>
            
                        
            
            <strong>New Passwords</strong>
            <label class="password"><input name="newpasswd" maxlength="14" min="6" minlength="6" id="txtPassword" onpropertychange="checkinvalidchars(document.all.txtPassword);" type="password" required></label>
            <p class="tip"><span id="txtPassword_hint"> <span id="txtPassword_info"></span> </span></p>
            
            
            
            <strong>Prompt New Passwords</strong>
            <label class="password"><input name="renewpasswd" maxlength="14" min="6" minlength="6" id="txtConfirmPassword" onpropertychange="checkinvalidchars(document.all.txtConfirmPassword);" type="password" required></label>
            <p class="tip"><span id="txtConfirmPassword_hint"> <span id="txtConfirmPassword_info"></span></span></p>
            
          </fieldset>
          <BR />
          <li id="trValidater" style="">
          </li>
    
            <p><i>Notes : You will able to login to any games (i.e: PWI Aera, RYL2 Aera, etc) with any accounts that have made in this page.</i></p>
          <div class="clear"></div>
          <button class="button3" type=submit data-type="submit">Change Now!</button>
          <a href="/?/Accounts" data-type="reset"><button class="button3 p27" type="button">Back</button></a>
        </center>
      </form>
    </div>
  </div>
</section>


<script type="text/javascript">
var jq = jQuery.noConflict();
function getSubmit(){}
</script> 
<script type="text/javascript" src="../../../images/common_checkvalid.js?rand={RAND}"></script> 
<script type="text/javascript" src="../../../images/common_js.js?rand={RAND}"></script> 
<script type="text/javascript" src="../../../images/main_ajax.js?rand={RAND}"></script> 
<script type="text/javascript" src="../../../images/Reg_check.js?rand={RAND}"></script> 
<script type="text/javascript">  
//function $(id){ return document.getElementById(id);}
var ValidaterShowInt=parseInt(6);
if ( ValidaterShowInt>= 5){
jq("#trValidater").show();
}
else
jq("#trValidater").hide(); 
</script>