<hr>
<section id="content">
  <center>
  {MSG}
    <form name="form1" method="post" action="/?/Accounts/TopupPoint/RedeemCode/{KEY}">
      <fieldset>
        <strong>Via Redeem Code : </strong>
        <label class="name wrapper-after">
          <input name="topupcode" type="text" required placeholder="Redeem Code:" size=70>
        </label>
        <div class="clear"></div>
        <BR />
        <BR />
        <button class="button3" type=submit name=topup data-type="submit">Top-up Now</button>
      </fieldset>
    </form>
      <p>Note: How to buy a topup code? Please refer to <a href="http://pwi.perfectworld.com.my/?op=accounts&type=topup">here</a> for more informations.</p>
  </center>
</section>
<p>{LIST}</p>
