	<!--==============================footer=================================-->
    <footer>
        <div class="container_12 p18">
        <article class="grid_12">
        <div class="inner-block">
            <ul class="soc-links">
                    <li><a class="soc-link1" href="{UL/FOOTER/FB}"></a></li>
                    <li><a class="soc-link2" href="{UL/FOOTER/TWITTER}"></a></li>
                    <li><a class="soc-link3" href="{UL/FOOTER/MORE}"></a></li>
                </ul>
                <div class="foot-page1">
                    {NL/FOOTER/TRADEMARK} © 2013 |  <a href="{UL/FOOTER/AUP}">{NL/FOOTER/AUP}</a>
                </div>             
                <div class="clear"></div>   
            </div>   
        </article>
        </div>
    </footer>

</body></html>