                        <div class="page1-box2">
                        	<figure class="page1-img2"><img src="../../../../images/page1-img4.png" alt=""></figure>
                            <div class="extra-wrap">
                            	<a class="link3" href="#aerax">Lorem ipsum dolor sit aet, consect
etuer adipiscing elit, sed diam nonum
my nibh euismod.</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="page1-box3">
                        	<figure class="page1-img2"><img src="../../../../images/page1-img4.png" alt=""></figure>
                            <div class="extra-wrap">
                            	<a class="link3" href="#aerax">Lorem ipsum dolor sit aet, consect
etuer adipiscing elit, sed diam nonum
my nibh euismod.</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="page1-box3 p8">
                        	<figure class="page1-img2"><img src="../../../../images/page1-img5.png" alt=""></figure>
                            <div class="extra-wrap">
                            	<a class="link3" href="#aerax">Lorem ipsum dolor sit aet, consect
etuer adipiscing elit, sed diam nonum
my nibh euismod.</a>
                            </div>
                            <div class="clear"></div>
                        </div>
