<div class="item_notice">
    <h3 class="title"><span {FIRST}></span><a href="{LINK}" title="" target="_blank">{REALTITLE}</a></h3>

    <p class="date" style="display: block;">Posted on: <em>{DATE}</em></p>

    <div class="intro" style="display: block;">
        <a class="pic_link" href="#" target="_blank"><img src="{PIC}" width="160" height="120" alt="News Picture"></a>

        <p class="txt">{TEXT}</p>

        <p class="ex_info"><a href="{LINK}" target="_blank" class="more">Read Full Article &gt;&gt;</a></p>
    </div>
</div>