<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>Aera Gaming International 2014 - Services</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <meta name="description" content="A free fantasy mmorpg based on 3D Game. Official site featuring news, information, screen shots, downloads, player guide, and forums.">
    <meta name="keywords" content="aera, gaming, international, perfect, world, risk, your, life, registration, mmorpg, rpg, online, game, 3D, fantasy, screen, shot, download, patches, full, clients, servers, multiplayer, player, singleplayer, multi, single, pvp, pve, top, private, malaysia, sarawak, sea, south, east, asia">
    <meta name="author" content="Aera Gaming International">
<link rel="icon" href="../../../../images/favicon.ico" type="image/x-icon">    
	<link rel="shortcut icon" href="../../../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../css/style.css">
    <script src="../../../../images/jquery-1.7.1.min.js"></script><style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
    <script src="../../../../images/superfish.js"></script>
    <script src="../../../../images/jquery.hoverIntent.minified.js"></script>
    <script src="../../../../images/jquery.easing.1.3.js"></script>
    <script src="../../../../images/forms.js"></script>
    <script src="../../../../images/jquery.mobilemenu.js"></script>
    <script src="../../../../images/jquery.equalheights.js"></script>
    <script src="../../../../images/script.js"></script><meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->
</head>
<body>
<!--==============================header=================================-->
    <header>
    	<div class="light1">
           <div class="light2 last2">           
               <div class="head-box1">
               <div class="container_12">
                    <article class="grid_12">
                    <div class="inner-block">
                    <h1><a class="logo" href="{ULHEADER}">{NLHEADER}</a></h1>
                    <nav>
                        <ul class="sf-menu responsive-menu sf-js-enabled">
                            <li><a href="{UL01}">{NL01}</a></li>
                            <li class="sub-menu"><a href="{UL02}">{NL02}</a>
                            	<ul style="display: none;">
                                    <li><a href="{UL02/01}">{NL02/01}</a>
                                    	<ul style="display: none;">
                                            <li><a href="{UL02/03}">{NL02/03}</a></li>
                                            <li><a href="{UL02/04}">{NL02/04}</a></li>
                                            <li><a href="{UL02/05}">{NL02/05}</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a href="{UL02/02}">{NL02/02}</a>
                                    	<ul style="display: none;">
                                            <li><a href="{UL02/02/01}">{NL02/02/01}</a></li>
                                            <li><a href="{UL02/02/02}">{NL02/02/02}</a></li>
                                            <li><a href="{UL02/02/03}">{NL02/02/03}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{UL02/03}">{NL02/03}</a></li>
                         		   <li><a href="{UL06}">{NL06}</a></li>
                                    <li><a href="{UL02/04}">{NL02/04}</a></li>
                                    <li><a href="{UL02/05}">{NL02/05}</a></li>
                                </ul>
                            </li>
                            <li class="current"><a href="{UL03}">{NL03}</a></li>
                            <li><a href="{UL04}">{NL04}</a></li>
                            <li><a href="{UL05}">{NL05}</a></li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                    </div>
                    </article>
                </div>
                </div>                
            </div>
        </div>
    </header>
    